<header id="header" class="clearfix">
    <div class="container">
        <div class="col-group">
            <div class="site-name ">
                {{ if .IsHome }}
                    <h1>
                        <a id="logo" href="{{ .Site.BaseURL | absURL }}">
                            {{ .Site.Title }}
                        </a>
                    </h1>
                {{ else }}
                    <a id="logo" href="{{ .Site.BaseURL | absURL }}">
                        {{ .Site.Title }}
                    </a>
                {{ end }}
                {{ with .Site.Params.subtitle }}<p class="description">{{ . }}</p>{{ end }}
            </div>
            <div>
                <nav id="nav-menu" class="clearfix">
                    <a class="{{ if or (.IsHome) (eq .Type "post") (eq .Type "posts") }}current{{ end }}" href="{{ .Site.BaseURL | absURL }}">首页</a>
                    {{ range .Site.Menus.main }}
                    <a {{ if eq .URL $.RelPermalink }}class="current"{{ end }} href="{{ .URL | absURL }}" title="{{ .Name }}">{{ .Name }}</a>
                    {{ end }}
                </nav>
            </div>
        </div>
    </div>
</header>
<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?da7002a3263e13123d3c44e6afe80dc8";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>
    
